$prefix = "px-"
{$prefix}guide
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  [direction="x"] px-line
    position: absolute
    left: 0
    width: 100%
    height: 1px
    background-color: red
    cursor: ns-resize
    &:before, &:after
      content: ''
      position: absolute
      width: 100%
      left: 0
      border-top: 1px solid transparent
    &:before
      bottom: 100%
    &:after
      top: 100%

  [direction="y"] px-line
    position: absolute
    top: 0
    height: 100%
    width: 1px
    background-color: blue
    cursor: ew-resize
    &:before, &:after
      content: ''
      position: absolute
      height: 100%
      top: 0
      border-left: 1px solid transparent
    &:before
      left: 100%
    &:after
      right: 100%

  {$prefix}info
    position: absolute
    font-size: 12px
    display: block
    padding: 0 5px
    color: #fff
    background-color: rgba(0, 0, 0, 0.3)
    border: 1px solid rgba(0, 0, 0, 0.35)
  [direction="x"] {$prefix}info
    left: 100%
    margin-left: 10px
  [direction="y"] {$prefix}info
    top: 100%
    margin-top: -30px


{$prefix}rulers
  -webkit-user-select: none
  {$prefix}ruler-vertical
    overflow: hidden
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 40px
    border-right: 1px solid rgba(0, 0, 0, 0.4)
    background-color: rgba(255, 255, 255, .3)
    box-sizing: border-box
    {$prefix}ruler-grid
      position: absolute
      display: block
      right: 0
      width: 7px
      border-top: 1px solid rgba(0, 0, 0, 0.0980392)
      &[{$prefix}ruler-grid-point]
        border-color: #000
        width: 13px
      &[{$prefix}ruler-grid-scale]
        border-color: #000      
    {$prefix}ruler-point-value
      position: absolute
      font-size: 10px
      transform: scale(.7)
      text-align: right;
      right: 11px
      margin-top: -7px
  
  {$prefix}ruler-horizon
    overflow: hidden
    position: absolute
    left: 0
    right: 0
    top: 0
    height: 30px
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)
    background-color: rgba(255, 255, 255, .3)
    box-sizing: border-box  
    {$prefix}ruler-grid
      position: absolute
      display: block
      bottom: 0
      height: 9px
      border-left: 1px solid rgba(0, 0, 0, 0.0980392)
      &[{$prefix}ruler-grid-point]
        border-color: #000
        height: 15px
      &[{$prefix}ruler-grid-scale]
        border-color: #000
    {$prefix}ruler-point-value
      position: absolute
      font-size: 10px
      transform: scale(.7)
      width: 30px;
      text-align: center;
      bottom: 13px
      margin-left: -15px
      
  {$prefix}ruler-controler
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(255, 0, 0, 0.5)
