$prefix = "px-"
{$prefix}guide
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  [direction="x"] px-line
    position: absolute
    left: 0
    width: 100%
    height: 1px
    background-color: red
    cursor: ns-resize
    &:before, &:after
      content: ''
      position: absolute
      width: 100%
      left: 0
      border-top: 1px solid transparent
    &:before
      bottom: 100%
    &:after
      top: 100%

  [direction="y"] px-line
    position: absolute
    top: 0
    height: 100%
    width: 1px
    background-color: blue
    cursor: ew-resize
    &:before, &:after
      content: ''
      position: absolute
      height: 100%
      top: 0
      border-left: 1px solid transparent
    &:before
      left: 100%
    &:after
      right: 100%

  {$prefix}info
    position: absolute
    font-size: 12px
    display: block
    padding: 0 5px
    color: #fff
    background-color: rgba(0, 0, 0, 0.3)
    border: 1px solid rgba(0, 0, 0, 0.35)
  [direction="x"] px-info
    left: 100%
    margin-top: 10px
  [direction="y"] px-info
    top: 100%
    margin-left: 10px


{$prefix}rulers
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  {$prefix}ruler-vertical
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 50px
    border-right: 1px solid rgba(0, 0, 0, 0.4)
    background-color: rgba(255, 255, 255, .3)
    padding-left: 40px
    box-sizing: border-box
    {$prefix}ruler-grid
      position: absolute
      display: block
      right: 0
      width: 9px
      border-top: 1px solid rgba(0, 0, 0, 0.0980392)
      &[{$prefix}ruler-grid-point]
        border-color: #000
      
    {$prefix}ruler-point
      position: absolute
      font-size: 10px
      transform: scale(.8)
      // right: calc(100% + 5px)
      text-align: right;
      right: 10px
      margin-top: -7px
  
  {$prefix}ruler-horizon
    position: absolute
    top: 0
  
    
